$primaryColor: #0A7B0E;
$primaryBgColor: #EDF047;
$comicTitle: red;

.postal {
    background-color: $primaryBgColor;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    padding-bottom: 20px;
}

.header {
    margin-top: 27px;

    .headerBox_title {
        font-size: 4em;
        font-family: fantasy;
        color: $primaryColor;
        padding-top: 20px;
        margin-bottom: 0;
    }

    .headerBox_subTitle {
        margin-bottom: 20px;
        font-style: italic;
    }
}

.comicsBox {
    background-color: $primaryBgColor;
    font-family: fantasy;

    .comicBox_container {

        .comicPostal {
            margin-bottom: 25px;

            &:hover {
                cursor: pointer;
            }
        }

        .comicPostal_img {
            opacity: 1;
            transition: opacity .25s ease-in-out;
            -moz-transition: opacity .25s ease-in-out;
            -webkit-transition: opacity .25s ease-in-out;

            &:hover {
                opacity: 0.5;
            }
        }

        .comicPostal_title {
            font-size: 1.5em;
        }
    }
}

.footer {
    margin-bottom: 0;
    text-align: center;
    min-height: 30px;
    padding: 10px;
}

.fullComicView {
    .fullComicView_title {
        text-align: center;
        color: $comicTitle;
        font-weight: bolder;
        font-family: fantasy;
        font-size: 5em;
        font-style: italic;
    }

    .fullComicView_img {
        float: left;
        margin: 10px;
        border: solid 20px $primaryColor;
    }

    .fullComicView_description {
        text-align: justify;
    }

    .fullComicView_price {
        text-align: center;
        margin: 20px 0 20px 0;
        color: blue;
        font-size: 3em;
    }

    .fullComicView_info {
        margin-bottom: 20px;
    }
}

.notFound {
    .notFound_title {
        text-align: center;
        font-size: 10em;
        color: rebeccapurple;
    }

    .notFound_subTitle {
        color: red;
        text-align: center;
    }
}

.login {
    .login_title {
        font-size: 4em;
    }

    .loginContainer {
        margin-bottom: 20px;
    }
}

.dinamicNavbar {
    .dinamicNavbar_profile {
        font-size: italic;
    }
}

.page {
    .page_title {
        text-align: center;
        font-size: 5em;
        color: lightcoral;
    }

    .page_content {
        text-align: justify;
        & img {
            float: left;
            max-width: 50%;
            height: auto;
            margin: 2%;
        }
    }
}

/* Mobiles and stuff like that */
@media only screen and (max-width : 768px) {

}