$primaryColor: #0A7B0E;
$primaryBgColor: #EDF047;

.postal {
    background-color: $primaryBgColor;
    margin-bottom: 20px;
}

.header {
    margin-top: 10px;

    .headerBox_title {
        font-size: 4em;
        font-family: fantasy;
        color: $primaryColor;
        padding-top: 20px;
        margin-bottom: 0;
    }

    .headerBox_subTitle {
        margin-bottom: 20px;
        font-style: italic;
    }
}

.comicsBox {
    margin-top: 20px;
    background-color: $primaryBgColor;
    font-family: fantasy;

    .comicBox_container {

        .comicPostal {
            margin-bottom: 25px;

            &:hover {
                cursor: pointer;
            }
        }

        .comicPostal_img {
            opacity: 1;
            transition: opacity .25s ease-in-out;
            -moz-transition: opacity .25s ease-in-out;
            -webkit-transition: opacity .25s ease-in-out;

            &:hover {
                opacity: 0.5;
            }
        }

        .comicPostal_title {
            font-size: 1.5em;
        }
    }
}

.footer {
    margin-bottom: 0;
}

/* Mobiles and stuff like that */
@media only screen and (max-width : 768px) {
    .header {
        background-color: green;
    }
}